<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    {% block stylesheets %} {% endblock stylesheets %}
</head>
<body>
    {% block content %} 

    <div class="table1">
        <table class="table11">
            <caption><strong>Table 1: Table of Fruits and Their Prices</strong></caption>
            <tr>
                <th>Fruit</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Apple</td>
                <td>$0.25</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>$0.50</td>
            </tr>
            <tr>
                <td>Banana</td>
                <td>$1.00</td>
            </tr>
            <tr>
                <td>Pineapple</td>
                <td>$2.00</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>$3.75</strong></td>
            </tr>
        </table>
    </div>

    <div class="table2">
        <table class="table22">
            <caption>Table 2: A more complex sample table</caption>
            <tr class="head-row">
                <td rowspan="2"><img src="{% static 'desert.jpg' %}" alt="desert" width="250"></td>
                <td colspan="4"><strong>Camelid comparison <br>Approximate as of 6/2011</strong></td>
            </tr>
            <tr>
                <td><strong># of humps</strong></td>
                <td><strong>Indigenouos region</strong></td>
                <td><strong>Spits?</strong></td>
                <td><strong>Produces wool?</strong></td>
            </tr>
            <tr>
                <td><strong>Dromedary</strong></td>
                <td>1</td>
                <td>Arabian Peninsula</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td><strong>Camels (bactian)</strong></td>
                <td>2</td>
                <td>Africa/Asia</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td><strong>Llamas</strong></td>
                <td>1</td>
                <td>Andes Mountains</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
        </table>
    </div>
    {% endblock content %}
</body>
</html>
